{% extends 'mehbatiInterimBundle::base.html.twig' %}

{% block title %}Affecter mission chantier{% endblock %}
{% block titrePage %}Affecter mission à un chantier{% endblock %}
{% block contenu %}
    
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h4><center>Selectionné le chantier </center></h4>
        <div class="hline"></div><br>
        {% if chantiers|length >=1 %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Chantier numéro</th>
                        <th>Nom</th>
                        <th>Chef du chantier</th>
                        <th>Entrepreneur</th>
                    </tr>
                </thead>
                <tbody>

                {% for unChantier in chantiers %}
                    <tr>
                        <td>{{unChantier.idchantier}}</td>
                        <td>{{unChantier.nom}}</td>
                        <td>{{unChantier.idchefchantier.nom}} {{unChantier.idchefchantier.prenom}}</td>
                        <td>{{unChantier.identrepreneur.nomsociete}}</td>
                        <td><a class="btn btn-theme" href="{{path('page_affecter_artisan_mission', {'id': unChantier.idchantier })}}">Selectionné</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        {% else %}    
            Vous n'avez pas de chantier.
        {% endif %}   
    </div>
        
{% endblock%}

