{% extends 'mehbatiInterimBundle::base.html.twig' %}

{% block title %}Missions{% endblock %}
{% block titrePage %}Mes missions{% endblock %}
{% block contenu %}
    
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h4><center>Liste des missions affectés </center></h4>
        <div class="hline"></div><br>
        {% if missions|length >=1 %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Entrepreneur</th>
                        <th>Chef de chantier</th>
                        <th>Mission</th>
                        <th>Date mission</th>
                        <th>Etat</th>
                    </tr>
                </thead>
                <tbody>

                {% for uneMission in missions %}
                    <tr>
                        <td>{{uneMission.idmission.idchantier.identrepreneur.nomsociete}}</td>
                        <td>{{uneMission.idmission.idchantier.idchefchantier.nom}} {{uneMission.idmission.idchantier.idchefchantier.prenom}}</td>
                        <td>{{uneMission.idmission.intitule}}</td>
                        <td>{{uneMission.idmission.datedebut|date('d/m/Y')}} au {{uneMission.idmission.datefin|date('d/m/Y')}}</td>
                        <td>{{uneMission.idetat.alias}} ({{uneMission.idetat.libelle}})</td>
                        <td><a class="btn btn-success" href="{{path('update_etat_mission', {'idMission': uneMission.idmission.idmission, 'btn':1 })}}">Accepter</a></td>
                        <td><a class="btn btn-danger" href="{{path('update_etat_mission', {'idMission': uneMission.idmission.idmission, 'btn':2 })}}">Refuser</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        {% else %}    
            Vous n'avez aucune mission.
        {% endif %}   
    </div>
        
{% endblock%}


